:root{
    --red: #790c0c;
    --green: #045316;
}
*{
    padding: 0;
    margin: 0;
    text-align: center;
}
html, body{
    height: 100%;
    font-family: helvetica;
    letter-spacing: 2px;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    scroll-behavior: smooth;
}
h1{
    font-size: 4vmin;
}
h2{
    font-size: 3.5vmin;
}
.normalText{
    font-size: 2.5vmin;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.label{
    width: 30%;
    text-align: right;
    margin-right: 20px;
}
.inputElement{
    width: 30%;
}
.textBox{
    width: 90%;
    text-align: left;
    padding-left: 10px;
    height: 3vmin;
}
.button{
    width: 50%;
    height: 70%;
    letter-spacing: 2px;
    border: none;
    color: white;
    font-size:4vmin;
    cursor: pointer;
    transition: ease-in-out 0.2s;
    background-color: #aaa;
}
.button:hover{
    background-color: #888;
    letter-spacing: 3px;
    
}
.button:active{
    
    transition: ease-in-out 0.1s;
    background-color: #666;
    color: #eee;
}


#wrapper{
    height: 100%;
}
#wrapper_AP{
    height: 50%;
}
#AP_title{
    height:25%;
}
#AP_settings_ssid{
    height: 20%;
}
#AP_settings_password{
    height: 20%;
}
#AP_speichern{
    height: 20%;
}
#wrapper_STA{
    height: 50%;
}
#STA_title{
    height:25%;
}
#STA_settings_ssid{
    height: 20%;
}
#STA_settings_password{
    height: 20%;
}
#STA_speichern{
    height: 20%;
}
